### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
playercount=pd.DataFrame({"Total Players":[len(purchase_data["SN"].unique())]})
playercount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_item=len(purchase_data["Item Name"].unique())
avg_price=round(purchase_data["Price"].mean(),2)
buy_no=purchase_data["Purchase ID"].count()
total_revenue=round(purchase_data["Price"].sum(),2)

purchasing_analysis=pd.DataFrame({
    "Number of Unique Items":[unique_item],
    "Average Price":[avg_price],
    "Number of Purchases":[buy_no],
    "Total Revenue":[total_revenue]
    })
purchasing_analysis["Average Price"]=purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"]=purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#check for categories in Gender
gender_array=purchase_data["Gender"].unique()
#create a new df to remove duplicate "SN" in order to quantify the number of players divided by genders
unique_df=purchase_data.drop_duplicates(subset="SN", keep="first", inplace=False)
#calculate the number of male, female, and other players from the new df
male_count=unique_df["Gender"].loc[unique_df["Gender"]==gender_array[0]].count()
female_count=unique_df["Gender"].loc[unique_df["Gender"]==gender_array[2]].count()
other_count=unique_df["Gender"].loc[unique_df["Gender"]==gender_array[1]].count()
total_player=male_count+female_count+other_count

#create a revised df to summarised number of players based on genders
gender_df=pd.DataFrame({
    "Total Count":[male_count,female_count,other_count],
    "Percentage of Players":[male_count/total_player*100,female_count/total_player*100,other_count/total_player*100]},
    index=["Male","Female","Other / Non-Disclosed"],
)
# index=gender_df.index
# index.name="Gender"

gender_df["Percentage of Players"]=gender_df["Percentage of Players"].astype(float).map("{:.2f}%".format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count=pd.DataFrame(purchase_data.groupby("Gender")["Purchase ID"].count())
ave_price=pd.DataFrame(purchase_data.groupby("Gender")["Price"].mean().astype(float).map("${:.2f}".format))
ave_price=ave_price.rename(columns={"Price":"Average Purchase Price"})
total_purchase=pd.DataFrame(purchase_data.groupby("Gender")["Price"].sum().astype(float).map("${:.2f}".format))
avg_per_person=pd.DataFrame((purchase_data.groupby("Gender")["Price"].sum()/unique_df.groupby("Gender")["SN"].count()).astype(float).map("${:.2f}".format))

gender_analysis_df = pd.concat([purchase_count,ave_price,total_purchase,avg_per_person],axis=1)
gender_analysis_df=gender_analysis_df.rename(columns={"Purchase ID":"Purchase Count", "Price":"Total Purchase Value",0:"Avg Total Purchase Per Person"})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
age_bins=[0,9,14,19,24,29,34,39,50]
age_label=["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_group=purchase_data.drop_duplicates(subset="SN", keep="first", inplace=False)
age_group["Age Group"]=pd.cut(age_group["Age"], bins=age_bins, labels=age_label)
age_df=pd.DataFrame(age_group.groupby("Age Group")["Age"].count())
age_df=age_df.rename(columns={"Age":"Total Count"})
age_df["Percentage of Players"]=(age_df["Total Count"]/total_player*100).astype(float).map("{:.2f}%".format)
age_df

<ipython-input-9-a3cc43cb3746>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_group["Age Group"]=pd.cut(age_group["Age"], bins=age_bins, labels=age_label)

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
age_bins=[0,9,14,19,24,29,34,39,50]
age_label=["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data2=pd.read_csv(file_to_load)
purchase_data2["Age Ranges"]=pd.cut(purchase_data2["Age"], bins=age_bins, labels=age_label)

age_purchase_count=pd.DataFrame(purchase_data2.groupby("Age Ranges")["Purchase ID"].count())
age_ave_price=pd.DataFrame(purchase_data2.groupby("Age Ranges")["Price"].mean().astype(float).map("${:.2f}".format))
age_ave_price=age_ave_price.rename(columns={"Price":"Average Purchase Price"})
age_total_purchase=pd.DataFrame(purchase_data2.groupby("Age Ranges")["Price"].sum().astype(float).map("${:.2f}".format))
age_avg_per_person=pd.DataFrame((purchase_data2.groupby("Age Ranges")["Price"].sum()/age_group.groupby("Age Group")["Age"].count()).astype(float).map("${:.2f}".format))
age_avg_per_person
age_analysis_df = pd.concat([age_purchase_count,age_ave_price,age_total_purchase,age_avg_per_person],axis=1)
age_analysis_df=age_analysis_df.rename(columns={"Purchase ID":"Purchase Count", "Price":"Total Purchase Value",0:"Avg Total Purchase Per Person"})
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
top_spent=purchase_data.groupby("SN")

pl_purchase_count=pd.DataFrame(purchase_data.groupby("SN")["Purchase ID"].count())
pl_ave_price=pd.DataFrame(purchase_data.groupby("SN")["Price"].mean())
pl_ave_price=pl_ave_price.rename(columns={"Price":"Average Purchase Price"})
pl_total_purchase=pd.DataFrame(purchase_data.groupby("SN")["Price"].sum())


pl_analysis_df = pd.concat([pl_purchase_count,pl_ave_price,pl_total_purchase],axis=1)
pl_analysis_df=pl_analysis_df.rename(columns={"Purchase ID":"Purchase Count", "Price":"Total Purchase Value"})
sorted_pl_analysis=pd.DataFrame(pl_analysis_df.sort_values("Total Purchase Value", ascending=False))
sorted_pl_analysis["Average Purchase Price"]=sorted_pl_analysis["Average Purchase Price"].astype(float).map("${:.2f}".format)
sorted_pl_analysis["Total Purchase Value"]=sorted_pl_analysis["Total Purchase Value"].astype(float).map("${:.2f}".format)
sorted_pl_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
item_list=purchase_data[["Item ID","Item Name","Price"]]
# item_list.groupby(["Item ID", "Item Name"])

item_purchase_count=pd.DataFrame(item_list.groupby(["Item ID","Item Name"])["Price"].count())
item_purchase_count=item_purchase_count.rename(columns={"Price":"Purchase Count"})
item_price=pd.DataFrame(item_list.groupby(["Item ID","Item Name"])["Price"].mean())
item_price=item_price.rename(columns={"Price":"Item Price"})
item_total_purchase=pd.DataFrame(item_list.groupby(["Item ID","Item Name"])["Price"].sum())
item_total_purchase=item_total_purchase.rename(columns={"Price":"Total Purchase Value"})

item_analysis_df = pd.concat([item_purchase_count,item_price,item_total_purchase],axis=1)
sorted_item_analysis=pd.DataFrame(item_analysis_df.sort_values("Purchase Count", ascending=False))
sorted_item_analysis["Item Price"]=sorted_item_analysis["Item Price"].astype(float).map("${:.2f}".format)
sorted_item_analysis["Total Purchase Value"]=sorted_item_analysis["Total Purchase Value"].astype(float).map("${:.2f}".format)
sorted_item_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
most_profitable_df=pd.DataFrame(item_analysis_df.sort_values("Total Purchase Value", ascending=False))
most_profitable_df["Item Price"]=most_profitable_df["Item Price"].astype(float).map("${:.2f}".format)
most_profitable_df["Total Purchase Value"]=most_profitable_df["Total Purchase Value"].astype(float).map("${:.2f}".format)
most_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80